.header-warapper {
  display: flex;
  gap: 2rem;
  flex-direction: column;
}

.header-form {
  display: flex;
  gap: 2rem;
  align-items: center;
  justify-content: center;
}

.header-form input,
.header-form select,
.header-form button {
  padding: 5px;
}
